@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Fira+Sans:wght@200&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: linear-gradient(53deg,
            rgb(66, 90, 195), rgb(234, 136, 153));
    background-attachment: fixed;
    box-sizing: border-box;
}

#container-1{
    width: min(100% , 260px);
    height: min(100% , 328px);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.container {
    width: min(100%, 238px);
    height: min(100%, 321px);
    background: linear-gradient(41deg, rgba(234, 136, 153, 0.1), rgba(66, 90, 195, 0.1));
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 11px 14px;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-right: 2px solid rgba(255, 255, 255, .25);
    border-bottom: 2px solid rgba(255, 255, 255, .3);
    backdrop-filter: blur(11px);

}

.input-container {
    width: min(100%, 188px);
    height: min(100%, 261px);
    margin: 8px auto;
    padding: 0px 9px;
    box-sizing: border-box;

}

input {
    width: min(100%, 188px);
    height: min(100%, 22px);
    margin: 4px 0px;
    border-radius: 3.9px;
    border: transparent;
    padding: 0px 4px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-right: 2px solid rgba(255, 255, 255, .25);
    border-bottom: 2px solid rgba(255, 255, 255, .3);
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
::placeholder{
    color: rgb(255, 255, 255);
}

button {
    width: min(100%, 182px);
    border-radius: 3.9px;
    position: relative;
    top: -3px;
    left: 34px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-right: 2px solid rgba(255, 255, 255, .25);
    border-bottom: 2px solid rgba(255, 255, 255, .3);
    cursor: pointer;
    background: transparent;
    font-weight: bold;
}

h1 {
    margin-bottom: 10px;
}

.font {
    font-size: 20px;
}

.pink {
    width: 100px;
    height: 100px;
    background: rgb(234, 136, 153);
    position: absolute;
    border-radius: 50%;
    left: -40px;
    top: -46px;
}

.blue {
    width: min(100%, 100px);
    height: 100px;
    background: rgb(66, 90, 195);
    position: absolute;
    border-radius: 50%;
    left: 204px;
    top: 274px;
}
